$colorgris: grey;
$colorwithe: #fff;


$mapacolores: (
indexcolorlogo: violet ,
nosotroscolorlogo: rgb(43, 2, 2),
productoscolorlogo:blue,
galeriacolorlogo:grey,
contactocolorlogo:rgb(78, 123, 7)
);
    